<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>action</servlet-name>
        <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
        <init-param>
            <param-name>config</param-name>
            <param-value>/WEB-INF/struts-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>debug</param-name>
            <param-value>2</param-value>
        </init-param>
        <init-param>
            <param-name>detail</param-name>
            <param-value>2</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>roleBasedRedirection</servlet-name>
        <servlet-class>controller.roleBasedRedirection</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginValidator</servlet-name>
        <servlet-class>model.loginValidator</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>passwordChanger</servlet-name>
        <servlet-class>controller.passwordChanger</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>studentController</servlet-name>
        <servlet-class>controller.studentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pQuery</servlet-name>
        <servlet-class>controller.pQuery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewQuery</servlet-name>
        <servlet-class>view.viewQuery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>postFeedback</servlet-name>
        <servlet-class>controller.postFeedback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewCourseInfo</servlet-name>
        <servlet-class>view.viewCourseInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>facultyViewQuery</servlet-name>
        <servlet-class>view.facultyViewQuery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>view.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>facultyPostAnswer</servlet-name>
        <servlet-class>controller.facultyPostAnswer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addCourseInformation</servlet-name>
        <servlet-class>controller.addCourseInformation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertCourseDb</servlet-name>
        <servlet-class>model.insertCourseDb</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteStudentInfo</servlet-name>
        <servlet-class>model.deleteStudentInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addStudentInformation</servlet-name>
        <servlet-class>controller.addStudentInformation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addFacultyInformation</servlet-name>
        <servlet-class>controller.addFacultyInformation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewFeedback</servlet-name>
        <servlet-class>view.viewFeedback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewFeedb</servlet-name>
        <servlet-class>view.viewFeedb</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewFeedbackInfo</servlet-name>
        <servlet-class>view.viewFeedbackInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateCourseInformation</servlet-name>
        <servlet-class>controller.updateCourseInformation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateFacultyInformation</servlet-name>
        <servlet-class>controller.updateFacultyInformation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateStudentInformation</servlet-name>
        <servlet-class>controller.updateStudentInformation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteStudentInformation</servlet-name>
        <servlet-class>controller.deleteStudentInformation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addStudyCenterInformation</servlet-name>
        <servlet-class>controller.addStudyCenterInformation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateStudyCenterInformation</servlet-name>
        <servlet-class>controller.updateStudyCenterInformation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteCourseInformation</servlet-name>
        <servlet-class>controller.deleteCourseInformation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteFacultyInformation</servlet-name>
        <servlet-class>controller.deleteFacultyInformation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteStudyCenterInformation</servlet-name>
        <servlet-class>controller.deleteStudyCenterInformation</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>action</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>roleBasedRedirection</servlet-name>
        <url-pattern>/roleBasedRedirection</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginValidator</servlet-name>
        <url-pattern>/loginValidator</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>passwordChanger</servlet-name>
        <url-pattern>/passwordChanger</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>studentController</servlet-name>
        <url-pattern>/studentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pQuery</servlet-name>
        <url-pattern>/pQuery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewQuery</servlet-name>
        <url-pattern>/viewQuery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>postFeedback</servlet-name>
        <url-pattern>/postFeedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewCourseInfo</servlet-name>
        <url-pattern>/viewCourseInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>facultyViewQuery</servlet-name>
        <url-pattern>/facultyViewQuery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>facultyPostAnswer</servlet-name>
        <url-pattern>/facultyPostAnswer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addCourseInformation</servlet-name>
        <url-pattern>/addCourseInformation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertCourseDb</servlet-name>
        <url-pattern>/insertCourseDb</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteStudentInfo</servlet-name>
        <url-pattern>/deleteStudentInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addStudentInformation</servlet-name>
        <url-pattern>/addStudentInformation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addFacultyInformation</servlet-name>
        <url-pattern>/addFacultyInformation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewFeedback</servlet-name>
        <url-pattern>/viewFeedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewFeedb</servlet-name>
        <url-pattern>/viewFeedb</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewFeedbackInfo</servlet-name>
        <url-pattern>/viewFeedbackInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateCourseInformation</servlet-name>
        <url-pattern>/updateCourseInformation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateFacultyInformation</servlet-name>
        <url-pattern>/updateFacultyInformation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateStudentInformation</servlet-name>
        <url-pattern>/updateStudentInformation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteStudentInformation</servlet-name>
        <url-pattern>/deleteStudentInformation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addStudyCenterInformation</servlet-name>
        <url-pattern>/addStudyCenterInformation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateStudyCenterInformation</servlet-name>
        <url-pattern>/updateStudyCenterInformation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteCourseInformation</servlet-name>
        <url-pattern>/deleteCourseInformation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteFacultyInformation</servlet-name>
        <url-pattern>/deleteFacultyInformation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteStudyCenterInformation</servlet-name>
        <url-pattern>/deleteStudyCenterInformation</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <jsp-config>
        <taglib>
            <taglib-uri>/WEB-INF/struts-bean.tld</taglib-uri>
            <taglib-location>/WEB-INF/struts-bean.tld</taglib-location>
        </taglib>
        <taglib>
            <taglib-uri>/WEB-INF/struts-html.tld</taglib-uri>
            <taglib-location>/WEB-INF/struts-html.tld</taglib-location>
        </taglib>
        <taglib>
            <taglib-uri>/WEB-INF/struts-logic.tld</taglib-uri>
            <taglib-location>/WEB-INF/struts-logic.tld</taglib-location>
        </taglib>
        <taglib>
            <taglib-uri>/WEB-INF/struts-nested.tld</taglib-uri>
            <taglib-location>/WEB-INF/struts-nested.tld</taglib-location>
        </taglib>
        <taglib>
            <taglib-uri>/WEB-INF/struts-tiles.tld</taglib-uri>
            <taglib-location>/WEB-INF/struts-tiles.tld</taglib-location>
        </taglib>
    </jsp-config>
</web-app>
